@import "../../Constants/Colors.scss";
@import "../../Constants/Dimensions.scss";

.wrapper {
    width: 100%;
    background-color: $primary;
    color: #fff !important;
    padding: 150px 75px;
    p {
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    h3 {
        text-align: center;
    }
}

@media only screen and (max-width: $tablet) {
    .wrapper {
        padding: $minPadding;
    }
}

@media only screen and (max-width: $mobileDisplay) {
    .wrapper {
        padding: $mobilePadding;
    }
}
