@import "../../Constants/Dimensions.scss";
@import "../../Constants/Colors.scss";

.wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 300px;
    p {
        font-size: 24px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    h2 {
        margin: 10px;
    }
}

.cards_wrapper {
    padding: 20px 90px;
    margin-top: 30px;
    justify-content: flex-start;
}

@media only screen and (max-width: 1440px) {
    .wrapper {
        margin-top: 450px;
    }
}

@media only screen and (max-width: $tablet) {
    .wrapper {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1025px) {
    .wrapper {
        margin-top: 400px;
    }
}

@media only screen and (max-width: $smallMobileDisplay) {
    .wrapper {
        padding: $mobilePadding;
    }
    .cards_wrapper {
        padding: $mobilePadding;
    }
}