@import "../../Constants/Colors.scss";
@import "../../Constants/Dimensions.scss";

.wrapper {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    h2 {
        font-style: 20px !important;
    }
    span {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        padding: $mobilePadding;
    }
}