@import "../../Constants/Colors.scss";
@import "../../Constants/Dimensions.scss";

.box {
    padding: 30px 15px;
    width: 400px;
    max-width: 400px;
    background: $offWhite;
    font-family: "europa", sans-serif;
    span {
        font-weight: 600;
        font-size: 18px;
        padding: 10px 0;
    }
    p {
        text-align: center;
        width: 85%;
        color: $gray;
    }
}

.box_image {
    padding: 20px 0;
}

.header {
    font-size: 16px;
    font-weight: 600;
}

.sub_title {
    color: $primary;
    padding: 10px 0;
}

.skills {
    color: #000000;
    font-size: 16px !important;
    font-weight: 400 !important;
}