body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent !important;
  scroll-behavior: smooth !important;
    // *FireFox*
    scrollbar-width: none !important;
        /*IE10+*/
      -ms-overflow-style: -ms-autohiding-scrollbar !important;
}

button {
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.02051em;
  color: #201E50;
}

h2 {
  font-size: 40px;
  letter-spacing: 0.02051em;
  color: #201E50;
}

h3 {
  font-size: 25px;
  letter-spacing: 0.02051em;
  color: #201E50;
}

h4 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02051em;
  color: #201E50;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

p {
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 20px;
}

a {
  text-decoration: none;
  // color: #516f90;
  color: #201E50;
} 

::-webkit-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
-ms-overflow-style: -ms-autohiding-scrollbar !important;
-webkit-appearance: none !important;
width: 0 !important;
height: 0 !important;
  /*Chrome, Safari, Edge*/
  display: none !important;
}

.MuiBackdrop-root {
  background-color: rgba(254, 254, 254, 0.619) !important;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}